.CardClass {
  height: 100vh;
  overflow-y: auto;
  padding: 20px; /* Example padding */
}
.CardList {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to ensure horizontal layout */
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 20px; /* Example padding */
  padding-left: 120px;
}

.Card {
  flex: 0 0 auto; /* Prevent stretching of cards */
  margin-right: 10px; /* Adjust margin between cards */
}

